<div style="background-color:darkgreen; text-align:center; font-color:white; vertical-align: middle; padding:30px;">
<font color="white" size = 20>NBA Team Database </font>
</div>

### Instructions / Notes:

* You **may** create new Jupyter notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql 
    [SQL]` is for _multi line_ SQL queries

### The dataset contains aggregate team statistics for 1980 - 2018 NBA seasons
To start, let's look at the primary relation in the database we've prepared for you.  
Select Cell/Run All.  This will load sql and connect to the database.

In [13]:
%load_ext sql
%sql sqlite:///nba.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%%sql 
SELECT * 
FROM NBA
LIMIT 5;

 * sqlite:///nba.db
Done.

[(0, 1980, 'Lakers', 1, 1, 1, 109),
 (1, 1980, 'Lakers', 2, 0, 1, 104),
 (2, 1980, 'Lakers', 3, 1, 0, 111),
 (3, 1980, 'Lakers', 4, 0, 0, 102),
 (4, 1980, 'Lakers', 5, 1, 1, 108)]

In [15]:
%%sql
-- Task1: How many records are in the NBA database?

 * sqlite:///nba.db
0 rows affected.

[]

In [16]:
%%sql
-- Task2: How many teams are in the database?  HINT: avoid counting duplicate team names.

 * sqlite:///nba.db
0 rows affected.

[]

In [17]:
%%sql

-- Task3:  Display the minimum, maximum, and average points for games played by the Cavaliers.

 * sqlite:///nba.db
0 rows affected.

[]

In [18]:
%%sql
-- Task4: How many rows are in the table for each team?

 * sqlite:///nba.db
0 rows affected.

[]

In [19]:
%%sql
-- Task5: Display the highest and average number of points that the Lakers scored each year.

 * sqlite:///nba.db
0 rows affected.

[]

In [20]:
%%sql

-- Task6: Show the number of games played for all teams in the database each year between 1990 and 2000 (inclusive).

 * sqlite:///nba.db
0 rows affected.

[]

In [21]:
%%sql

-- Task7: Do teams play better at home? A value of 1 indicates a home game, while 0 indicates away.
-- Display the average points for each team and each value of home.  Round the average to the nearest integer.

 * sqlite:///nba.db
0 rows affected.

[]

In [22]:
%%sql

-- Task8: Which teams had the most wins?  
-- Display the results in descending order of wins, and only show results for teams with more than 10 wins.
-- If you are getting an incorrect result, consider what it is you want to do with the value in the win column.

 * sqlite:///nba.db
0 rows affected.

[]

In [23]:
%%sql

-- Task9: We will consider a game with more than 120 points to be a high scoring game.
-- Count the high scoring games for each team.

 * sqlite:///nba.db
0 rows affected.

[]

In [24]:
%%sql


-- Task10
-- Come up with  an interesting quesion about the data and write a query to answer it.
-- Your query must use one or more functions and include all clauses in SFWGHO.

 * sqlite:///nba.db
0 rows affected.

[]