In [1]:
# !pip3 install ipython-sql

In [2]:
%load_ext sql

In [7]:
%sql sqlite://

In [4]:
%%sql
DROP TABLE IF EXISTS cat;
CREATE TABLE cat(id serial primary key, name varchar(30), age int);
INSERT INTO cat (name, age) values ('Fluffy', 8);
INSERT INTO cat (name, age) values ('Whiskers', 2);

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
SELECT * FROM cat;

 * sqlite://
Done.

[('Snoopy', 'beagle'), ('Fifi', 'poodle')]