<div style="background-color:darkgreen; text-align:center; font-color:white; vertical-align: middle; padding:10px;">
<font color="white" size = 5 >Functions and Grouping </font>
</div>

Functions
---------------------

In [ ]:
%load_ext sql
%sql sqlite:///chinook.db

--
 
**`%sql` is used for single line SQL commands:**  
**`%%sql` is used for multiple lines SQL commands:**

In [ ]:
%%sql 

SELECT *
FROM Employees
LIMIT 5;

In [ ]:
%%sql 

SELECT *
FROM Customers
LIMIT 5;

In [ ]:
%%sql 

-- Use * to count the number of rows returned from a query

SELECT count(*)
FROM Employees;

In [ ]:
%%sql 

-- What about counting distinct job titles in the Employees table?
-- First just display the distinct titles

SELECT distinct title
FROM Employees;

In [ ]:
%%sql 

-- What we want to count is the result of selecting the distinct titles

SELECT count(distinct title) as "#titles"
FROM Employees;

In [ ]:
%%sql 

-- NOT CORRECT! Notice this just returns a count of the number of rows since each row has a value in the title column.

SELECT count (title) as "#titles"
FROM Employees;

In [ ]:
%%sql 

-- TASK1: Show each job title and a count of the number of employees

SELECT Title, count(*)
FROM Employees
GROUP BY Title;

In [ ]:
%%sql 

-- Task2: How many customers per country?  
SELECT Country, count(*) as "#customers"
FROM Customers
GROUP BY Country;

In [ ]:
%%sql 

-- Task2: How many customers per country and city?  Sort in descending order.
    
SELECT Country, City, count(*) as "#customers"
FROM Customers
GROUP BY Country, City
ORDER BY "#customers" desc;

In [ ]:
%%sql 

-- Task3: How many customers from USA?
    
SELECT count(*) as "#customers"
FROM Customers
WHERE Country = 'USA'

In [ ]:
%%sql

SELECT *
FROM Invoices
LIMIT 5;

In [ ]:
%%sql

-- Task4: The total column represents the total invoice cost.
-- What is the min, max, and average invoice total?  Display column headings as shown.  
-- Round the average to 2 digits after decimal point.

SELECT min(Total) as "cheapest", max(Total) as "most expensive", round(avg(Total),2) as "average"
FROM Invoices;

In [ ]:
%%sql

-- Task5: The total column represents the total invoice cost.
-- What is the average invoice total per billing country?  
-- Round the average to 2 digits after decimal point.
-- Sort by descending order

SELECT billingcountry, round(avg(Total),2) as "average"
FROM Invoices
GROUP BY billingcountry
ORDER BY average desc;

In [ ]:
%%sql

-- Task6 - How many invoices with billing country of USA or Canada?

SELECT BillingCountry, count(*)
FROM Invoices
WHERE BillingCountry in ('USA', 'Canada')
GROUP BY BillingCountry;

In [ ]:
%%sql

-- Task7: Which countries result in most sales? Keep in mind the total column  represents the total for one invoice.
-- You need to sum up the total column.  Display results with total sales over 100.

SELECT billingcountry, sum(total) as "total invoice billing"
FROM Invoices
GROUP BY billingcountry
HAVING "total invoice billing" > 100;

In [ ]:
%%sql

-- Task8: Show the number of invoices for each billing city in the USA.  
-- Do not hardcode Mountain View in your query.  

SELECT billingcity, count(total) as "#invoices"
FROM Invoices
WHERE billingcountry = 'USA'
GROUP BY billingcity
HAVING "#invoices" > 10;