<div style="background-color:darkgreen; text-align:center; font-color:white; vertical-align: middle; padding:10px;">
<font color="white" size = 5 >Functions and Grouping </font>
</div>

Functions
---------------------

#### Rentals Database
The rentals database include include the following tables:



Primary key of each relation is underlined.

**accommodations** (<u>id</u> , title, location, price, room, rating, type) 
> * id - accommodation id
> * title - accommodation title
> * location - accommodation location
> * price - accommodation price
> * rating - accommodation rating (by company)
> * type - accommodation type

> * **id is a primary key**

**ratings** (<u>userId</u>, <u>accoId</u>, rating)
> * userId - user id
> * accoId - accommodation id
> * rating - rating of an accommodation by user

>* **userId and accoId - primary key**

In [1]:
%load_ext sql
%sql sqlite:///rentals.db

--
 
**`%sql` is used for single line SQL commands:**  
**`%%sql` is used for multiple lines SQL commands:**

In [2]:
%%sql 

-- LIMIT restricts how many rows are displayed

SELECT * 
FROM accommodations
LIMIT 5;

 * sqlite:///rentals.db
Done.

[(1, 'Comfy Quiet Chalet', 'Vancouver', 50, 3, 3.1, 'cottage'),
 (2, 'Cozy Calm Hut', 'London', 65, 2, 4.1, 'cottage'),
 (3, 'Agreable Calm Place', 'London', 65, 4, 4.8, 'house'),
 (4, 'Colossal Quiet Chateau', 'Paris', 3400, 16, 2.7, 'castle'),
 (5, 'Homy Quiet Shack', 'Paris', 50, 1, 1.1, 'cottage')]

In [3]:
%%sql 
SELECT *  
FROM ratings
LIMIT 5;

 * sqlite:///rentals.db
Done.

[(10, 1, 1), (18, 1, 2), (13, 1, 1), (7, 2, 2), (4, 2, 2)]

<div style="background-color:darkblue; text-align:center; font-color:white; vertical-align: middle; padding:10px;">
<font color="white" size = 5 >Functions </font>
</div>

In [4]:
%%sql

-- Count the rows in the accommodations table

 * sqlite:///rentals.db
0 rows affected.

[]

In [5]:
%%sql

-- How many accommodations are in Paris?

 * sqlite:///rentals.db
0 rows affected.

[]

In [6]:
%%sql

-- How many castles have a rating over 3.0?
-- Display the result using column heading "# castles"

 * sqlite:///rentals.db
0 rows affected.

[]

In [7]:
%%sql

-- Display rating min, max, avg, and sum

 * sqlite:///rentals.db
0 rows affected.

[]

In [8]:
%%sql

-- The round function will restrict the number of digits after the decimal place.
-- round(7.456789, 2)  will produce 7.45.  
-- Use the round function to restrict the average to 2 digits after decimal place

 * sqlite:///rentals.db
0 rows affected.

[]

<div style="background-color:darkblue; text-align:center; font-color:white; vertical-align: middle; padding:10px;">
<font color="white" size = 5 >GROUP BY </font>
</div>

In [9]:
%%sql

-- Display row count per type
-- This requires the GROUP BY clause

 * sqlite:///rentals.db
0 rows affected.

[]

In [10]:
%%sql

-- THIS IS INCORRECT!  Missing a GROUP BY clause.  
-- Displays the type found in last row along with the total row count

 * sqlite:///rentals.db
0 rows affected.

[]

In [11]:
%%sql

-- Display row count per type and location
-- GROUP BY must match non-function columns from SELECT clause

 * sqlite:///rentals.db
0 rows affected.

[]

In [12]:
%%sql

-- Display row count per type and location

 * sqlite:///rentals.db
0 rows affected.

[]

In [13]:
%%sql

-- Display average price per location. Sort results by average price

 * sqlite:///rentals.db
0 rows affected.

[]

In [14]:
%%sql

-- Same query, round average price to whole dollars

 * sqlite:///rentals.db
0 rows affected.

[]

<div style="background-color:darkblue; text-align:center; font-color:white; vertical-align: middle; padding:10px;">
<font color="white" size = 5 >HAVING - SFWGHO </font>
</div>

In [15]:
%%sql

-- Display location and counts above 10
-- Use HAVING clause to restrict result based on function

 * sqlite:///rentals.db
0 rows affected.

[]

In [16]:
%%sql

-- INCORRECT!! Use HAVING to test function value
-- Using a multi-line comment

 * sqlite:///rentals.db
0 rows affected.

[]

In [17]:
%%sql

-- Display location, avg, min and max rating for castles. 
-- Restrict the results to locations with average rating above 3.5.
-- Sort in descending order of average rating

 * sqlite:///rentals.db
0 rows affected.

[]

In [18]:
%%sql

-- Assume you only have $40.  Which locations can you visit?
-- Show minimum price for each location, label the resulting column "cheapest".  
-- Do not show location with a min price above $40.

 * sqlite:///rentals.db
0 rows affected.

[]